<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="anynote"
        android:icon="@android:drawable/ic_menu_save"
        android:theme="@style/Theme.Anynote"
        android:allowBackup="false">

        <activity
            android:name=".ShareActivity"
            android:exported="true"
            android:theme="@style/Theme.Anynote.Translucent"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
